.btn {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1.5rem 4.5rem;
  border-radius: 4px;
  border: none;
  background-color: #f09609;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: scale(0.98) translateY(0);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.22);
}
