.card {
  border-radius: 5px;
  /* overflow: hidden; */
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  transition: all 1s;
}

.card-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: all 1s;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-front {
  transform: rotateY(180deg);
}

.card-back {
  background-image: url("https://img.freepik.com/premium-vector/abstract-pattern_1458-342.jpg?w=826");
  background-size: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card.flipped .card-front {
  /* transform: rotateY(0deg); */
  transform: rotateY(0deg);
}

.card.flipped .card-back {
  transform: rotateY(-180deg);
}

.card.found {
  transform: scale(0);
}
