.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10rem;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 500;
}

.message {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -2px;
  color: #a86906;
}
