.form {
  padding: 1rem;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #f09609;
  margin-right: 1.6rem;
  text-transform: uppercase;
}

input {
  background-color: transparent;
  border: none;
  padding: 0.6rem 1.8rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: #333;
  border-bottom: 2px solid #bbb;
}

input::placeholder {
  color: #bbb;
}

input:focus {
  border-bottom-color: #f09609;
  outline: none;
}
