@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.App {
  background-color: #ffd43b;
  padding: 4rem;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game-field {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  height: 90vh;
}

.game-field-6 {
  grid-template-columns: repeat(4, 1fr);
  width: calc(90vh * 4 / 3);
}

.game-field-12 {
  grid-template-columns: repeat(6, 1fr);
  width: calc(90vh * 3 / 2);
}

.game-field-24 {
  grid-template-columns: repeat(8, 1fr);
  width: calc(90vh * 4 / 3);
}

.game-field-48 {
  grid-template-columns: repeat(12, 1fr);
  width: calc(90vh * 3 / 2);
}

.App input::marker {
  display: none;
}
